---
layout: page
title: Cyril Fougeray - Blog
permalink: /blog/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Get the latest</h1>
          <!-- <a href="https://www.notion.so/cyrilfougeray/Hey-I-m-Cyril-e18527c028844776813f11a8f724862c" class="btn btn-view-works" target="_blank">
          <img src="../img/notion.png" alt="Notion logo" width="20px"> What's next, on Notion</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row">
  <div  class="col-md-3">&nbsp;</div>
  <div  class="col-md-6" style="margin:15px; text-align: center;">
    <span class="connected">connected</span>
    <span class="smart">smart</span>
    <span class="optimized">optimized</span>
    <span class="delivered">delivered</span>
    <span class="learn">more</span>
  </div>
  <div  class="col-md-3">&nbsp;</div>
</div>

{% for post in site.posts %}
<div class="row">  
<div  class="col-md-3">
  &nbsp;
</div>
<div class="post-area col-md-6">
  <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
  <p class="post-date">{{ post.date | date_to_long_string }} - 
    
    {% for tag in post.meta %}
    <span class="{{ tag.class }}">{{ tag.title }}</span>
    {% endfor %}
  </p>
  <p>
    {{ post.description }}
  </p>
</div>
<div  class="col-md-3">
  &nbsp;
</div>
</div>
{% endfor %}
